<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Ragi Subscription</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<style>
		.btn-small {
			height: 24px;
			line-height: 24px;
			padding: 0 0.5rem;
			/*font-size: 0.8em;*/
			text-transform: capitalize;
		}

		.btn-small-ex {
			height: 21px;
			line-height: 24px;
			padding: 0 0.5rem;
			margin-left: 0.5em;
			font-size: 0.8em;
			text-transform: capitalize;
		}

		.modal {
			max-height: 75%;
		}

		.display-none {
			display: none;
		}

		.yrBtn {
			display: inline-block;
			width: 70px;
		}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="referrer" content="no-referrer">
</head>

<body>
	<div id="app">
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo" v-on:click="refreshData">
					<div style="padding-left: 10px">Ragi Subscription</div>
				</a>
			</div>
		</nav>

		<!-- Modal Structure -->
		<div id="modal1" class="modal">
			<div class="modal-content">
				<h4 style="text-alignment: center">
					a v-bind:href="currentPreviewHref" target="_blank"> {{ currentPreviewTitle }}
					</a>
				</h4>
				<div style="padding-top: 50px">
					<img v-bind:src="currentPreviewImg" / style="width: 100%">
				</div>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
			</div>
		</div>

		<ul class="collapsible collection" data-collapsible="accordion">
			<li v-for="site in data">
				<div class="collapsible-header" v-on:click="expandSite">
					<i class="material-icons">filter_drama</i>
					{{ site.site }}
					<span class="badge new">
						{{ site.data.length }}
					</span>
					<span class="btn btn-small-ex display-none" v-on:click="readAll">
						read all
					</span>
				</div>
				<div class="collapsible-body">
					<ul class="collection">
						<li v-for="col in site.data">

							<!-- Read Button -->
							<div class="yrBtn">
								<a class="waves-effect waves-light btn btn-small modal-trigger" href="#" v-bind:value="col.title" v-on:click="read">read</a>
							</div>

							<!-- Modal Trigger -->
							<div class="yrBtn">
								<a v-if="col.img != 'NULL'" class="waves-effect waves-light btn btn-small modal-trigger" href="#modal1" v-bind:value="site.prefix + '|' + col.img" v-on:click="previewImg">preview</a>
							</div>

							<a v-bind:href="site.prefix + col.href" target="_blank" class="collection-item" style="margin-left: 30px; display: inline-block">
								{{ col.title }}
							</a>

						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				message: 'Hello World!',
				data: [],
				currentPreviewTitle: "",
				currentPreviewHref: "",
				currentPreviewImg: ""
			},
			methods: {
				refreshData() {
					console.log('refreshing data...');
					$.ajax({
						url: "/json",
						dataType: "json",
						success: function(data) {
							// change object to array for vue
							container = []
							for (var key in data) {
								// only show unNoticed
								var unNoticed = data[key].containerList.reduce((acc, container) => {
									if (container.isNoticed)
										return acc
									else
										return acc.concat(container)
								}, [])
								container.push({
									"site": key,
									"data": unNoticed,
									"rawData": data[key].containerList,
									"prefix": data[key].sitePrefix
								})
							}

							// update data
							this.data = container;
						}.bind(this),
						error: function(data) {
							console.log("load json error!");
						}
					});
				},
				read: function(event) {
					title = event.target.value.trim();
					$.ajax({
						url: '/read/' + encodeURIComponent(title),
						success: function(data) {
							console.log('succuess')
							this.refreshData()
						}.bind(this),
						error: function(data) {
							console.log('failed to read ' + title)
						}
					})
				},
				previewImg: function(event) {
					var raw = event.target.value.split('|')
					// custom referer ajax
					/*$.ajax({
						url: raw[1],
						IdataType: "blob",
						headers: {
							"Referer": raw[0]
						},
						success: function(data) {
							console.log('succuess')
							var encodedData = 'data:image/jpeg;base64,' + this.base64Encode(data)
							this.currentPreviewImg = encodedData;
						}.bind(this),
						error: function(data) {
							console.log('failed to load ' + raw[1])
							//this.currentPreviewImg = raw[1];
							this.currentPreviewImg = raw[1];
							console.log(this.currentPreviewImg)
						}
					})*/
					this.currentPreviewImg = raw[1];
					this.currentPreviewTitle = event.target.parentNode.parentNode.children[0].parentNode.children[2].innerHTML
					this.currentPreviewHref = event.target.parentNode.parentNode.children[0].parentNode.children[0].getAttribute('href')
				},
				expandSite: function(event) {
					console.log('expand site')
					var span = event.target.children[2]
					if (span.classList.contains('display-none')) {
						span.classList.remove('display-none')
					} else {
						span.classList.add('display-none')
					}
				},
				readAll: function(event) {
					event.stopPropagation()
					console.log('readAll')
					var list = event.target.parentNode.parentNode.children[1].children[0].children
					list = Array.prototype.slice.call(list)
					list.forEach((element) => {
						this.read({ target: { value: element.children[2].innerHTML }})
					})
				}
				/*,
								base64Encode: function(str) {
									var CHARS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
									var out = "",
										i = 0,
										len = str.length,
										c1, c2, c3;
									while (i < len) {
										c1 = str.charCodeAt(i++) & 0xff;
										if (i == len) {
											out += CHARS.charAt(c1 >> 2);
											out += CHARS.charAt((c1 & 0x3) << 4);
											out += "==";
											break;
										}
										c2 = str.charCodeAt(i++);
										if (i == len) {
											out += CHARS.charAt(c1 >> 2);
											out += CHARS.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
											out += CHARS.charAt((c2 & 0xF) << 2);
											out += "=";
											break;
										}
										c3 = str.charCodeAt(i++);
										out += CHARS.charAt(c1 >> 2);
										out += CHARS.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
										out += CHARS.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6));
										out += CHARS.charAt(c3 & 0x3F);
									}
									return out;
								}*/
			},
			mounted: function() {
				console.log('ready')
				this.refreshData()
				setInterval(this.refreshData, 1000 * 60 * 5)
			}
		})

		$(document).ready(function() {
			$('.collapsible').collapsible();
			$('.modal').modal();
		})
	</script>
</body>

</html>
