<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer">

    <title>Ragi Subscriptions</title>

    <link rel="shortcut icon" href="icon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="app">
        <nav>
            <div class="nav-wrapper blue-grey lighten-1">
                <a href="#" class="brand-logo" v-on:click="refreshData">
                    <div id="SiteName" style="padding-left: 10px">Subscriptions</div>
                </a>
                <ul id="nav-mobile" class="right">
                    <!-- Why value not works? -->
                    <li><a href="#" name="showUnNoticedOnly" v-on:click="toggleMode">Unnoticed</a></li>
                    <!--<li><a href="#" name="showUnNoticedAll" v-on:click="toggleMode">UnNoticed All</a></li>-->
                    <li><a href="#" name="recentRead" v-on:click="toggleMode">Recent Read</a></li>
                </ul>
            </div>
        </nav>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 style="text-align: center">
                    <a v-bind:href="currentPreviewHref" target="_blank">
                        {{ currentPreviewTitle }}
                    </a>
                </h4>
                <div style="padding-top: 50px">
                    <img v-bind:src="currentPreviewImg" / style="width: 100%">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>

        <!-- if mode is "recentRead" -->
        <ul v-if="mode == 'recentRead'" class="collapsible collection" data-collapsible="accordion">
            <li v-for="container in recentRead">
                <div class="collapsible-header" v-on:click="expandSite">
                    <i class="material-icons">filter_drama</i>
                    {{ container.type }} [ {{ container.nickname }} ]
                    <span class="badge new">
                        {{ container.list.length }}
                    </span>
                </div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li v-for="entry in container.list">
                            <div>
                                <div class="yrBtn">
                                    <a v-if="entry.img != 'NULL'"
                                        class="waves-effect waves-light btn btn-small modal-trigger" href="#modal1"
                                        v-bind:value="`${container.id}|${entry.id}`"
                                        v-on:click="previewImg(container.id, entry.id)">
                                        preview
                                    </a>
                                </div>
                                <a v-bind:href="entry.href" target="_blank" class="collection-item"
                                    style="margin-left: 30px; display: inline-block">
                                    {{ entry.title }}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <!-- if mode is "showUnNoticedOnly" (Default) -->
        <ul v-if="mode == 'showUnNoticedOnly'" class="collapsible collection" data-collapsible="accordion">
            <li v-for="container in data.container">
                <div v-if="container.list.filter(x => !x.data.isNoticed).length > 0" class=" collapsible-header"
                    v-on:click="expandSite">
                    <i class="material-icons">filter_drama</i>
                    {{ data.types[container.typeId] }} [ {{ container.nickname }} ]
                    <span class="badge new">
                        {{ container.list.filter(x => !x.data.isNoticed).length }}
                    </span>
                    <span class="btn btn-small-ex" @click="readAll($event, container.typeId, container.nickname)">
                        read all
                    </span>
                </div>

                <div v-if="container.list.filter(x => !x.isnoticed).length > 0" class="collapsible-body">
                    <ul class="collection">
                        <li v-for="entry in container.list">
                            <div v-if="entry.data.isNoticed == false">
                                <div class="yrBtn">
                                    <a class="waves-effect waves-light btn btn-small modal-trigger" href="#"
                                        @click="read($event, container.typeId, container.nickname, entry.id)">
                                        read
                                    </a>
                                </div>

                                <div class="yrBtn">
                                    <a v-if="entry.data.img != 'NULL'"
                                        class="waves-effect waves-light btn btn-small modal-trigger" href="#modal1"
                                        @click="previewImg($event, container.typeId, container.nickname, entry.id)">
                                        preview
                                    </a>
                                </div>

                                <a v-bind:href="entry.data.href" target="_blank" class="collection-item"
                                    style="margin-left: 30px; display: inline-block">
                                    {{ entry.data.title }}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <!-- Materialize is built using jQuery, God Damn it -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>