<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer">

    <title>Subscriptions Management</title>

    <link rel="shortcut icon" href="icon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="app">
        <nav>
            <div class="nav-wrapper deep-purple darken-1">
                <a href="#" class="brand-logo" v-on:click="refreshData">
                    <div id="SiteName" style="padding-left: 10px">Subscriptions Management</div>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#" v-on:click="SaveData">Save</a></li>
                </ul>
            </div>
        </nav>

        <ul class="collapsible">
            <li v-for="container in filteredData">
                <div class="collapsible-header">
                    <i class="material-icons">place</i>
                    {{ container.type }}
                    <span class="badge new">
                        {{ container.sites.length }}
                    </span>

                </div>
                <div class="collapsible-body" style="background-color: rgb(200, 200, 200)">
                    <ul>
                        <div class="row">
                            <div class="col s1 offset-s11">
                                <a class="btn-floating btn waves-effect waves-light red" v-on:click="AddContainer"
                                    style="margin-left: 80%">
                                    <i class="material-icons" style="margin-top: 2px;" v-bind:value="container.type">
                                        add
                                    </i>
                                </a>
                            </div>
                        </div>
                        <li v-for="(site, index) in container.sites">
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s2">
                                            <input placeholder="Placeholder" type="text" v-model="site.nickname">
                                        </div>
                                        <div class="input-field col s8">
                                            <input placeholder="Placeholder" type="text" v-model="site.url">
                                        </div>
                                        <div class="input-field col s2">
                                            <select v-select:change="container.type + '|' + index"
                                                v-model="site.isOmit">
                                                <option disabled value="NULL">Please select one</option>
                                                <option value="false">False</option>
                                                <option value="true">True</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
    <script src="js/manage.js"></script>
</body>

</html>